
/* ==========================================================================
   3. Root
   ========================================================================== */

 :root {
   --black: #34302F;
	 --gray : #808080;
   --white: #FDFDFD;

	--scale-4x: 4.7rem;
	--scale-3x: 3.9rem;
 	--scale-2x: 3.2rem;
 	--scale: 1.6rem;
  --scale-2d: 0.8rem;
  --scale-3d: 0.400rem;
 }

.o-wrapper {
}
